@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header .line {
    background-color: #117050;
    height: 10px;
}
.container { 
    max-width: 1140;
    margin: auto;
}
.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-left img{
    width: 64px;
    height: 64px;
}